extends layout 
 
block content 
  if (!user) 
    a(href="/login") Login 
    br 
    a(href="/register") Register
    br 
    a(href="/marvel/update") Update 
  if (user) 
    p You are currently logged in as #{user.username} 
    a(href="/marvel") Take me to Marvel app 
    br 
    a(href="/logout") Logout 